<div class="column-b">
  <img title="{{burger_name}}" src="/assets/images/img.png" alt="Snow" style='width:100%' class="container" data-id="{{this.id}}"
    data-newState="{{devoured}}">
  <button class="delete-burger button button4" data-id="{{this.id}}">Devoure!</button>
</div>